{% extends 'main.html' %}
{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="profile">
    <h1>{{user.username.title}} from {{profile.nationality}}</h1>
    <h3>About: {{profile.bio}}</h3>
    <h2><a href="{%url 'update-profile' user.id %}">UPDATE PROFILE</a></h2>
    <h1>{{user.username.title}}'s Rooms &#8595;</h1>
</div>
<div class="profile-container">
    <div>
        {%include 'base/topics_component.html'%}
    </div>
    <div>
        {%include 'base/feed_component.html'%}
    </div>
    <div>
        {%include 'base/activity_component.html'%}
    </div>
</div>


{% endblock content %}